{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/students.css' %}">
    <link rel="stylesheet" href="{% static 'css/student_add.css' %}">
    <title>{% block title %}{% endblock %} - Locker Management System</title>
</head>
<body>
    <header>
        <a class="logo" href="/">Locker Management System</a>
        <a href="/"><button>Sair</button></a>
    </header>
    <div class="page-container">
        <aside>
            <nav>
                <!-- <div>
                    <i class="fa-solid fa-bars"></i>
                    <span>Menu</span>
                </div> -->
                <ul>
                    <li>
                        <a href="/">
                            <i class="fa-solid fa-house"></i>
                            <span>Início</span>
                        </a>
                    </li>
                    <li>
                        <a href="/students">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <span>Alunos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/lockers">
                            <i class="fa-solid fa-lock"></i>
                            <span>Armários</span>
                        </a>
                    </li>
                    <li>
                        <a href="/doors">
                            <i class="fa-solid fa-boxes-stacked"></i>
                            <span>Portas</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <p>Footer</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
