{% extends 'main/base.html' %}

{% block title %} Início {% endblock %}

{% block content %}
    <h1>Bem vindo(a)!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic enim et illo qui in ut dignissimos possimus reiciendis voluptatibus, ducimus inventore incidunt nihil eveniet corrupti odio officiis maxime itaque vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus et facilis magnam ipsum? Minus sequi numquam eius cumque, modi exercitationem placeat. Voluptatibus illo similique culpa qui temporibus consequatur esse vitae!</p>
{% endblock %}
