{% extends 'main/base.html' %}]

{% block title %} Armário {{ locker.number }} {% endblock %}

{% block content %}
    <section>
        <div class="section-header">
            <h1>Detalhes do armário</h1>
            <div class="container-btn">
                <a href="{% url 'main:locker_edit' pk=locker.pk %}">
                    <button class="edit-btn">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Editar
                    </button>
                </a>
                <form action="{% url 'main:locker_delete' pk=locker.pk %}" method="POST" onsubmit="return locker_delete()">
                    {% csrf_token %}
                    <button class="delete-btn" type="submit">
                        <i class="fa-solid fa-trash"></i>
                        Excluir
                    </button>
                </form>
            </div>
        </div>
        <p>Número: {{ locker.number }}</p>
        <p>Número de portas: {{ locker.number_of_doors }}</p>
        <p>Ativo: {% if locker.is_active %} Sim {% else %} Não {% endif %}</p>
    </section>
{% endblock %}
