{% extends 'main/base.html' %}

{% block title %} Alunos {% endblock %}

{% block content %}
    <section>
        <div class="section-header">
            <h1>Alunos</h1>
            <a href="{% url 'student_add' %}">
                <button class="add-btn">
                    <i class="fa-solid fa-plus"></i>
                    Adicionar
                </button>
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Matrícula</th>
                    <th>Ações</th>
                    <!-- <th>Editar</th>
                    <th>Excluir</th> -->
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.name|linebreaksbr }}</td>
                        <td>{{ student.email|linebreaksbr }}</td>
                        <td>{{ student.matricula|linebreaksbr }}</td>
                        <td>
                            <div class="container-btn">
                                <a href="{% url 'student_detail' pk=student.pk %}"><button class="view-btn"><i class="fa-solid fa-eye"></i></button></a>
                                <a href="{% url 'student_edit' pk=student.pk %}"><button class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                <form action="{% url 'student_delete' pk=student.pk %}" method="POST" onsubmit="return student_delete()">
                                    {% csrf_token %}
                                    <button class="delete-btn" type="submit">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
